@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body{
        background-color: hsl(275, 100%, 97%);
        background-image: url(assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        font-family: 'Work Sans', sans-serif;
        display: grid;
        place-items: center;
      }

    .container{
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      margin-top: 100px;
      border-radius: 20px;
      /*border: 2 px;
      border-style: solid;*/ /*just viusal boxes*/
      width: 500px;
      padding: 3%;
    }

    .box{
      display: flex;
      justify-content: center; /* asse X */
      align-items: center; /* asse Y */
      /*border: 2px;
      border-style: solid;*/ /*just visual boxes*/
    }

    .box img{
      margin-right: 30px;
    }

    h1{
      font-size: 50px;
    }

    .questions-box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      
    }

    .questions{
      display: flex;
      align-items: center;
      font-weight: bold;
      
    }

    .answers{
      display: none;
      color: gray;
      
    }

    .plus-minus{
      background-color: transparent;
      border: none;
    }

    .show{
      display: block;
    }